amqp
asgiref
billiard
celery
certifi
channels
click
click-didyoumean
click-plugins
click-repl
cron-descriptor
Django
django-celery-beat
django-celery-results
django-cors-headers
django-elasticsearch-dsl
django-filter
django-timezone-field
djangorestframework
djangorestframework-simplejwt
elasticsearch
elasticsearch-dsl
kombu
Pillow
prompt_toolkit
psycopg2-binary
PyJWT
PyMySQL
python-crontab
python-dateutil
python-decouple
python-dotenv
pytz
redis
six
sqlparse
tzdata
urllib3
vine
wcwidth
gunicorn
whitenoise
mysqlclient
